<a href="https://www.dcmembers.com/skwire/download/frameless/">Frameless.exe (v1.1.7)</a><br />
<a href="https://github.com/maravento/winzenity/">Zenity.exe (v3.6)</a><br />
<a href="https://imagemagick.org/script/download.php#windows/">Convert_image.exe (v7.1.0) (convert.exe renamed convert_image.exe)</a><br />
